@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #E5E5E5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 400px;
  width: 320px;
  height: 74px;
  margin: auto;
  padding: 16px;
  background: url("../assets/images/image_geometry_1.jpg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
