@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1a2236;
}

a:active {
  border-bottom: 4px #1a2236 solid;
}

header {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 74px;
  margin: auto;
  background: url("../assets/images/image_geometry_1.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: 10;
}

.toggle-button {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}

.headline-left .message {
  position: fixed;
  margin-top: -40rem;
  font-size: 4rem;
  color: yellow;
  background: darkblue;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

nav .mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav .mobile-container {
  position: fixed;
  background: url('../assets/images/image_geometry_menu_1.svg'), url('../assets/images/image_geometry_menu_2.svg');
  background-position: left top, bottom;
  background-repeat: no-repeat;
  background-size: 95vw auto;
  padding: 1.5rem;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
}

.menu-on {
  display: none;
}

.close_btn {
  position: relative;
  float: right;
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-nav .mobile-nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  font-size: 1.8rem;
  margin: 0 auto;
  padding-right: 1rem;
}

nav .desktop-nav {
  position: fixed;
  margin-top: 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.5px 0 #dddfe6;
}

nav ul li {
  padding: 1rem 2rem;
}

.headline-left {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: calc(40vw + 350px);
  padding: 16px;
  margin: auto;
  background: url("../assets/images/image_geometry_2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  background-color: #fff;
}

.headline .name {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  margin: 20px 0;
  line-height: 100%;
  color: #1a2236;
}

.headline .intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.headline-right {
  display: none;
}

form .start-collaboration {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: #1a2236;
}

.headline .start-collaboration {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: #1a2236;
}

.works {
  display: grid;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

/* **** This is the works section **** */

.desktop-works {
  padding-top: 5rem;
}

.works h2,
.desktop-works h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  padding: 16px;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.works .project,
.desktop-works .project {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.works .see-projects,
.desktop-works .see-projects {
  display: flex;
  flex-direction: row;
}

.see-projects .see-project {
  margin: auto 0.5rem;
  white-space: nowrap;
}

.see-projects .see-project a {
  color: white;
}

.project-info .project-description {
  font-size: 1rem;
  margin-bottom: 0rem;
}

.works .project-img,
.desktop-works .project-img {
  width: 100%;
  height: auto;
}

.works .project-info,
.desktop-works .project-info,
.desktop-works .project-info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: -1.8px 0;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.works .project-name,
.desktop-works .project-name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  margin: 0;
}

.works ul,
.desktop-works ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-left: -2px;
}

.works ul li,
.desktop-works ul li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
  padding: 5px;
  background-color: #98dede;
  border: 1px solid #98dede;
  margin: 3px;
}

.works .see-project,
.desktop-works .see-project {
  display: flex;
  align-items: center;
  background: #1a2236;
  width: 60%;
  height: 35px;
  border: 1px solid #fff;
  backdrop-filter: blur(1px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.works .button-arrow,
.desktop-works .button-arrow {
  height: 12px;
  padding-left: 8px;
}

/****    Desktop works section    ****/

.desktop-works {
  display: none;
  max-width: 1440px;
  width: 100%;
  margin: 4rem auto;
}

.desktop-works .first {
  display: flex;
  justify-content: space-between;
  height: 32rem;
}

.desktop-works h2 {
  transform: rotate(-90deg);
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  margin: 20px 0;
  line-height: 100%;
  color: #1a2236;
}

.first-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44%;
  height: 100%;
  background: url("../assets/images/projects-bg.svg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 0.3rem;
}

.first-right {
  position: relative;
  max-width: 800px;
  width: 67%;
  height: 73%;
}

.second-first,
.second-third {
  position: relative;
  max-width: 480px;
  width: 34%;
  height: 73%;
}

.third-first,
.third-second,
.third-last {
  position: relative;
  max-width: 320px;
  width: 22%;
  height: auto;
}

.first-right .project-info1,
.second-first .project-info1,
.second-third .project-info1,
.third-first .project-info1,
.third-second .project-info1,
.third-last .project-info1 {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: -1.8px 0;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.first-right:hover .project-info1 {
  visibility: visible;
  opacity: 0.9;
  min-width: 31rem;
  min-height: 29.5rem;
}

.second-first:hover .project-info1,
.second-third:hover .project-info1 {
  visibility: visible;
  opacity: 0.9;
  min-width: 31rem;
  min-height: 18rem;
}

.third-first:hover .project-info1,
.third-second:hover .project-info1,
.third-last:hover .project-info1 {
  visibility: visible;
  opacity: 0.9;
  min-width: 20rem;
  min-height: 12rem; 
  text-align: center;
  font-size: 0.7rem;
  padding: 1rem;
}

.desktop-works .second,
.desktop-works .third {
  display: flex;
  justify-content: space-between;
  height: 20rem;
}

.desktop-works .third {
  height: 11.5rem;
}

.second .project-img1,
.second .project-img2 {
  width: 31rem;
  height: auto;
}

.third .project-img3,
.third .project-img4 {
  width: 20rem;
  height: 11.9rem;
}

.second .second-middle {
  width: 25rem;
  min-width: 25rem;
  height: auto;
  margin-right: -2rem;
  background: url("../assets/images/image-geometry_2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-myself {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 16px;
}

.about-myself .about {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 100%;
  color: #1a2236;
  margin-bottom: 0;
}

.about-myself .about-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.about-myself .get-my-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: #1a2236;
}

.about-myself .cv-image {
  height: 16px;
  padding-left: 10px;
}

.about-myself ul li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.about-myself .languages {
  background: url('../assets/images/ic_languages_mob.svg'), url('../assets/images/languages-bg.svg');
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  margin-top: 25px;
  padding: 20px;
}

.about-myself .frameworks {
  background: url('../assets/images/frameworks.svg'), url('../assets/images/frameworks-bg.svg');
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  margin-top: 25px;
  padding: 20px;
}

.about-myself .skills {
  background: url('../assets/images/ic_skills.svg'), url('../assets/images/skills-bg.svg');
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  margin-top: 25px;
  padding: 20px;
}

.about-myself h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-left: 25px;
}

footer .form-section {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 20px auto;
  padding: 16px;
  background: url("../assets/images/image_geometry_1.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
}

footer .get-started {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-top: 70px;
  margin-bottom: 5px;
}

footer .call-to-action {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

footer form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

form span {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(18px);
  font-size: 0.825em;
  transition-duration: 300ms;
}

/* stylelint-disable no-descending-specificity */
form label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #e45865;
  transform: translateY(0);
}
/* stylelint-enable no-descending-specificity */

form label {
  position: relative;
}

form input {
  background: #fff;
  border: 1px solid #dfdfe0;
  height: 54px;
  width: 100%;
  border-radius: 4px;
  padding-left: 8px;
}

form input::placeholder {
  opacity: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
}

form .textarea {
  height: 112px;
}

footer .socials {
  background: #1a2236;
  padding: 16px;
}

footer .get-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #92dcdc;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

footer .resume-image {
  padding-left: 15px;
}

footer .social-links {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  list-style: none;
}

/****** Desktop version ******/

@media screen and (min-width: 992px) {
  header {
    padding: 0;
    background: #fff;
  }

  .toggle-button {
    display: none;
  }

  nav .mobile-nav {
    display: none;
  }

  nav .desktop-nav {
    display: flex;
  }

  .headline {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }

  .headline-left {
    justify-content: center;
    background: url("../assets/images/image_dots.svg");
    background-position: right bottom;
    background-repeat: no-repeat, repeat;
    width: 50vw;
    height: 877px;
    padding-left: 0;
  }

  .headline-left .name {
    font-size: 7rem;
    width: 484px;
    height: 220px;
    color: #1a2236;
  }

  .headline-left .intro {
    width: 484px;
    color: #1a2236;
    font-size: 1rem;
    margin: 2rem 0;
  }

  footer .start-collaboration {
    width: 15rem;
    margin: 0 auto;
  }

  .headline-left .start-collaboration {
    width: 254px;
    font-size: 1rem;
  }

  .headline-right {
    display: block;
    background: url("../assets/images/image-geometry_1-1.png");
    width: 50vw;
    height: 877px;
  }

  .works {
    display: none;
  }

  .desktop-works {
    display: block;
  }

  .about-myself {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
  }

  .desktop-deco {
    background: url("../assets/images/image_dots_with_teal.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .about-myself .desktop-deco,
  .about-myself .skills {
    margin-top: 0;
  }

  .right-side {
    width: 50%;
    padding: 0 4rem;
  }

  .right-side .about-text {
    width: 30rem;
  }

  .right-side .get-my-cv {
    width: 15rem;
  }

  .left-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    padding-right: 2rem;
  }

  footer .form-section {
    background: url('../assets/images/image-geometry_6.png'), url('../assets/images/image-geometry_7-1.png');
    background-color: #f9f9fa;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 12rem 12rem;
    margin-top: 6rem;
  }

  footer .call-to-action {
    width: 40vw;
    margin: 0 auto;
  }

  footer .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4rem 5rem;
  }

  footer .social-link {
    margin-left: 2rem;
  }
}
